/*font 'Inter' from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*tailwind css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --lightest-blue: #F2FAFFl;
    --light-blue: #479FDE;
    --dark-blue: #18214D;
    --gray: #747474;
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    transition: all .1s ease-in-out;
    color: var(--dark-blue);
}

/* border radius */
.rounded-100 {
    border-radius: 100px;
}


/*fonts*/
.text-16-20-400 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.text-16-24-400 {
    font-size: 16px;
    line-height: 24px;
}

.text-16-19-600 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.text-16-20-500 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.text-18-26-500 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

.text-20-26-500 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.text-20-24-700 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.text-20-30-500 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.text-24-30-500 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.text-24-30-700 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.text-28-44-500 {
    font-size: 28px;
    line-height: 44px;
    font-weight: 500;
}

.text-30-44-600 {
    font-size: 30px;
    line-height: 44px;
    font-weight: 600;
}

.text-30-44-500 {
    font-size: 30px;
    line-height: 44px;
    font-weight: 500;
}

.text-30-44-700 {
    font-size: 30px;
    line-height: 44px;
    font-weight: 700;
}

.text-32-44-700 {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
}

.text-48-70-700 {
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;
}

.text-40-56-700 {
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
}

.text-50-60-800 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
}

.text-60-56-800 {
    font-size: 60px;
    line-height: 56px;
    font-weight: 800;
}

.text-blue-gr {
    background: linear-gradient(146.73deg, rgba(143, 0, 255, 0.65) 0%, #479FDE 51.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* fonts */
/* shadows */
.shadow-ab {
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);
}

.shadow-ca {
    box-shadow: 0 14px 40px rgba(24, 33, 77, 0.05);
}

.shadow-c {
    box-shadow: 0 8px 24px rgba(24, 33, 77, 0.05);
}

.shadow-h {
    box-shadow: 0 2px 4px rgba(24, 33, 77, 0.05);
}

.shadow-b {
    box-shadow: 0 4px 16px rgba(71, 159, 222, 0.1);
}

.shadow-s {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}

.shadow-g {
    box-shadow: 0 0 44px rgba(147, 145, 255, .6);
}

.shadow-card {
    box-shadow: 0 13px 34px rgba(0, 0, 0, 0.07);
}

.shadow-bl {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
}

.shadow-card:hover * {
    color: white !important;
}

.shadow-a {
    box-shadow: 0 2px 8px rgba(24, 33, 77, 0.1);
}

/**/
/* container */
.container {
    max-width: 1240px !important;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.container-md {
    max-width: 1032px !important;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

/* widths */
.w-1200 {
    width: 1200px;
}

.dashed {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%30' height='100%25' fill='none' stroke='lightgray' stroke-width='8' stroke-dasharray='6%2c 27' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
}

/* navbar */
.dropdown::after {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1.5rem;
    background: url("../public/dropdown.svg") 90% 95% no-repeat;
}

.dropdown::after:hover {
    background-image: url("/dropdown.svg");
    background-repeat: no-repeat;
    background-position: 90% 95%;
}

.nav-link {
    position: relative;
}

.nav-link.phone::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -1.5rem;
    height: 1rem;
    width: 1.5rem;
    background: url("../public/Phone.svg") 0 100% no-repeat;
    background-size: 15px;
}

.nav-link.phone-mobile::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    background: url("../public/Phone.svg") 0 20% no-repeat;
    background-size: 20px;
}

.nav-item {
    margin-left: 2.5rem;
}

.nav-item.phone {
    margin-left: 5.5rem;
}

/*first-section*/
.first-section {
    height: calc(100vh - 80px);
    background-image: url("../public/1.svg"), url("../public/Vector-2.svg"), url("../public/Vector-1.svg"), url("../public/Ellipse 2.svg"), url("/aaa.svg");
    background-position: 95% 14%, 5% 20%, 0 64%, 90% 70%, 49.5% 112%;
    background-repeat: no-repeat, no-repeat;
}

.hoverable:hover .hoverable-image {
    transition: .4s;
    transform: scale(1);
}

.hoverable:hover .hoverable-image {
    transform: scale(1.1);
    transition: .4s;
}

.first-section-web {
    height: calc(100vh - 80px);
}

.first-section-app {
    background-image: url("../public/Mockup.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right center;
    height: calc(100vh - 80px);
}

/* stats */
.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navbar-brand {
    height: 80px;
    width: 180px;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.partner-image {
    -webkit-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
}

.card-human1 {
    background-image: url("../public/shapes/2.svg"), url("../public/shapes/11.svg");
    background-repeat: no-repeat;
    background-position: 0 0, right;
    transition: all .5s ease-in-out;
    background-size: 55%, 20%;
}

.card-human2 {
    background-image: url("../public/shapes/1.svg"), url("../public/shapes/22.svg");
    background-repeat: no-repeat;
    background-position: 0 0, right;
    transition: all .5s ease-in-out;
    background-size: 75%, 15%;
}

.card-human2:hover {
    background-size: 85%, 20%;
}

.card-human3 {
    background-image: url("../public/shapes/3.svg"), url("../public/shapes/33.svg");
    background-repeat: no-repeat;
    background-position: 0 0, right;
    transition: all .5s ease-in-out;
    background-size: 45%, 20%;
}

.card-human4 {
    background-image: url("../public/shapes/4.svg"), url("../public/shapes/44.svg");
    background-repeat: no-repeat;
    background-position: 0 0, right;
    transition: all .5s ease-in-out;
    background-size: 45%, 20%;
}

.card-human1:hover,
.card-human2:hover,
.card-human3:hover,
.card-human4:hover {
    transition: all .5s ease-in-out;
    background-size: 65%, 25%;
}

.card-human1 img,
.card-human2 img,
.card-human3 img,
.card-human4 img {
    transition: all .5s ease-in-out;
    border-radius: 16px !important;
}

.card-human1:hover img,
.card-human2:hover img,
.card-human3:hover img,
.card-human4:hover img {
    transform: scale(1.05);
    border-radius: 16px !important;
}

.card-human3:hover img {
    transform: scale(1.02);
    border-radius: 16px !important;
}

.bg-gradient {
    background: linear-gradient(167.11deg, #05ACB7 0%, #5A05C9 120.47%);
}

.bg-card-gr {
    background: white;
    transition: .3s ease-in-out;
}

.bg-card-gr:hover {
    background: linear-gradient(146.73deg, rgba(143, 0, 255, 0.65) 0%, #479FDE 51.91%);
    transition: .3s ease-in-out;
}

.bg-card-gr:hover * {
    color: white !important;
}

.bg-gradient-btn {
    background: linear-gradient(146.73deg, rgba(143, 0, 255, 0.65) 0%, #479FDE 51.91%, #479FDE 51.92%);
}

.nineSection {
    background-image: url("../public/right1bg.svg"), url("../public/left1bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, left bottom;
}

.bg-rectangle {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.89%, rgba(0, 0, 0, 0.6) 75.23%), url('../public/Rectangle 2.png');
    background-size: 100% 100%;
    border-radius: 1rem;
    padding: 30px 40px;
}

@media screen and (max-width: 950px) {
    .nav-item {
        margin-left: 2rem;
    }

    .nav-item.phone {
        margin-left: 1.5rem;
    }
}

/*home sections*/
.second-home-stats {
    display: flex;
    justify-content: space-between;
}

.second-section-home {
    display: flex;
    gap: 3.5rem;
}

.development-fourthSection {
    background-image: url("../public/bg/Vector.svg"), url("../public/bg/Vector-1.svg"), url("../public/bg/Vector-2.svg"), url("../public/bg/Vector-3.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left 20%, right top, left 80%, right;
    background-size: 10%, 10%, 10%, 10%;
}

@media (min-width: 902px) and (max-width: 1024px) {
    .first-section-app {
        background-image: url("../public/mockup1.png");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: 35% 130%;
        height: calc(100vh - 80px);
    }
}

@media screen and (max-width: 901px) {
    .development-fourthSection {
        background-image: url("../public/bg/Vector.svg"), url("../public/bg/Vector-1.svg"), url("../public/bg/Vector-2.svg"), url("../public/bg/Vector-3.svg");
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: left 20%, right top, left 80%, right;
        background-size: 18%, 18%, 18%, 18%;
    }

    .first-section-app {
        background-image: url("../public/mockup1.png");
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: 25% 100%;
        height: calc(100vh - 80px);
    }

    .text-30-44-600 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }

    .bg-rectangle {
        background-size: cover;
    }

    .nineSection {
        background-image: url("../public/right1bg.svg"), url("../public/left1bg.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: right bottom, left bottom;
        background-size: 40%, 40%;
    }

    .container {
        width: 100% !important;
        max-width: 95% !important;
        padding: 0 .5rem;
    }

    .second-section-home {
        display: flex;
        flex-direction: column;
    }

    .second-section-home div:first-child {
        margin: 0 auto;
        width: 95% !important;
    }

    .second-home-stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 2rem;
    }

    .navbar-toggle {
        display: inline-block !important;
    }

    .navbar-menu {
        display: none;
    }

    .nav-item {
        margin-left: 0;
    }

    nav.container {
        width: 90% !important;
    }

    .text-40-56-700 {
        font-size: 30px;
        line-height: 32px;
    }
}

.image {
    width: 100% !important;
}

.table-c {
    display: block;
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 500px) {
    .table-c {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .development-fourthSection {
        background-image: url("../public/bg/Vector.svg"), url("../public/bg/Vector-1.svg"), url("../public/bg/Vector-2.svg"), url("../public/bg/Vector-3.svg");
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: left 20%, right top, left 90%, right;
        background-size: 25%, 25%, 25%, 25%;
    }

    .first-section-app {
        background-image: url("../public/mockup1.png");
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: 0 100%;
        height: calc(100vh - 80px);
    }

    .text-32-44-700 {
        font-size: 24px;
        line-height: 26px;
        font-weight: 700;
    }

    .second-home-stats {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .second-section-home div:last-child {
        grid-template-columns: 1fr !important;
    }

    .text-50-60-800 {
        font-size: 40px;
        line-height: 44px;
        font-weight: 800;
    }

    .text-48-70-700 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
    }

    .text-40-56-700 {
        font-size: 28px;
        line-height: 32px;
        font-weight: 700;
    }

    .text-60-56-800 {
        font-size: 40px;
        line-height: 46px;
        font-weight: 800;
    }
}

@media screen and (max-width: 300px) {
    .second-home-stats {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .text-50-60-800 {
        font-size: 30px;
        line-height: 34px;
        font-weight: 800;
    }

    .text-48-70-700 {
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
    }

    .text-40-56-700 {
        font-size: 20px;
        line-height: 22px;
        font-weight: 700;
    }

    .text-60-56-800 {
        font-size: 20px;
        line-height: 26px;
        font-weight: 800;
    }
}

div::-webkit-scrollbar {
    width: 2px;
    background: aliceblue;
    border-radius: 5px;
}

div::-webkit-scrollbar-thumb {
    background: #479FDE;
    border-radius: 10px;
}


/*@media screen and (max-width: 375px) {*/
/*    .text-48-70-700 {*/
/*        font-size: 20px;*/
/*        line-height: 24px;*/
/*        font-weight: 700;*/
/*    }*/

/*    .text-60-56-800 {*/
/*        font-size: 40px;*/
/*        line-height: 46px;*/
/*        font-weight: 800;*/
/*    }*/
/*}*/
